---
import { Icon } from "astro-icon/components";
---

<!-- Social Links -->
<div class="flex justify-center md:justify-start space-x-4 text-text">
  <a
    href="mailto:hi@yorukot.me"
    class="inline-flex items-center justify-center w-12 h-12 rounded-lg hover:rotate-15 hover:text-primary-highlight"
    style="background: var(--color-bg-highlight);"
    aria-label="Mail"
  >
    <Icon name="tabler:mail-filled" class="w-7 h-7" />
  </a>

  <a
    href="https://github.com/yorukot"
    class="inline-flex items-center justify-center w-12 h-12 rounded-lg hover:rotate-15 hover:text-primary-highlight"
    style="background: var(--color-bg-highlight);"
    aria-label="GitHub"
  >
    <div class="w-7 h-7">
      <Icon name="cib:github" class="w-7 h-7" />
    </div>
  </a>

  <a
    href="https://discord.com/users/579544867626024960"
    class="inline-flex items-center justify-center w-12 h-12 rounded-lg hover:rotate-15 hover:text-primary-highlight"
    style="background: var(--color-bg-highlight);"
    aria-label="Discord"
  >
    <Icon name="cbi:discord" class="w-7 h-7" />
  </a>

  <a
    href="https://www.youtube.com/@yorukot"
    class="inline-flex items-center justify-center w-12 h-12 rounded-lg hover:rotate-15 hover:text-primary-highlight"
    style="background: var(--color-bg-highlight);"
    aria-label="YouTube"
  >
    <Icon name="cbi:youtube" class="w-7 h-7" />
  </a>
</div>
